<section>
    <div>
        <div>
            <div>
                <h2>{{ section.settings.title }}</h2>
                <p>{{ section.settings.description }}</p>
                <a href="{{ section.settings.button_link }}">
                    {{ section.settings.button_text }}
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <section>
            <div>
                {% for product in section.settings.products %}
                    <div>
                        <div>
                            <a href="{{ product.url }}">
                                <img src="{{ product.images[0] | img_url: '1000x' }}" data-hover-src="{{ product.images[1] | img_url: '1000x' }}" alt="{{ product.title }}">
                            </a>
                            <div>
                                <a href="{{ product.url }}">{{ product.title }}</a>
                                <div>{{ product.price | money }}</div>
                            </div>
                            <button onclick="addToCart('{{ product.id }}')">Add to Cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</section>

{% schema %}
{
    "name": "Product Cards Section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Shop our best sellers"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "Explore our range of fan-favourites"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Shop All"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
            "default": "/products"
        },
        {
            "type": "product_list",
            "id": "products",
            "label": "Products",
            "limit": 5
        }
    ],
    "presets": [
      {
        "name": "Video Carousel",
        "category": "Custom"
      }
    ]

}
{% endschema %}